.container-admin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    padding-top: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 1700px;
    max-width: 100%;
    height: 750px;
    max-height: 100%;
    box-sizing: border-box;
    text-align: center;
    
}

.reports-box {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 2px solid black;
    border-radius: 10px;
    height: 24%;
    padding: 5px;
    margin: 5px;
}

.reports-box-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.reports-box-actions-button{
    width: 50%;
    height:100%;
    margin: 1px;
}

.reports-box-header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.9vh;   /* old: 1vw */
    height: 40%;
}

.actions-box {
    display: flex;
    flex-direction: row;
}

.reports-box-name{
    display: flex;
    width: 83%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    align-items: center;    
}

/* GEHT AKTUELL NICHT; SORGT DAFÜR DASS DER TEXT AN DIE FEST BOXGRÖßE ANGEPASST WIRD,
   ABER DAS ZERSTÖRT DIE FORMATIERUNG BEI KLEINEREN BILDSCHIRMEN */
/* .reports-box-name-textbox{
    display: block;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
} */

.reason-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 1.9vh;
    margin-top: 7px;
}

.link-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
    width: 90%;
    height: 7%;
    border: 2px solid black;
    border-radius: 5px;
    align-items: center;   
}

.user-res-box {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
}

.admin-actions {
    display: flex;
    flex-direction: row;
    height: 600px;
    max-height: 85%;
}

.col-users {
    overflow-y: scroll;
    background-color: #e7e7e7;
    margin: 10px;
    width: 50%;
    height: 95%;
    border-radius: 15px;
}

.col-res-but-del {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    height: 97%;
}

.col-ressources {
    overflow-y: scroll;
    margin: 10px;
    width: 100%;
    background-color: #e7e7e7;
    border-radius: 15px;
}


.col-all-reports {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #e7e7e7;
    margin: 10px;
    width: 30%;
    height: 95%;
    border-radius: 15px;
}

.col-ressources-deleted {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    margin: 10px;
    width: 40%;
    height: 95%;
    background-color: #e7e7e7;
    border-radius: 15px;
}

.col-system {
    display: flex;
    flex-direction: column;
    height: 97%;
    width: 30%;
    align-items: center;
}

.broken-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7e7e7;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    overflow-y: scroll;
    margin: 10px;
}

.list-content-box {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.list-content-box-reports {
    margin: 5px;
    padding: 5px;
}

.list-ressources-title-box{
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    width: 35%;
    text-align: left;
}

.list-ressources-actions-box{
    width: auto;
}

.deleted-published-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    align-items: center;
}

.res-deleted-box{
    color: white;
    background-color: #B4312E;
    padding: 5px;
    border-radius: 5px;
}

.res-published-box{
    color: white;
    background-color: #7A24E0;
    padding: 5px;
    border-radius: 5px;
}


.user-list-box-name-and-checkbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.admin-and-mod-checkbox{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    font-family: monospace;
    color: white;
}

.del-ressource-input-form{
    width:100%; 
    margin-bottom: 0px; 
    border-radius: 5px; 
    border: 1px solid grey;
}

.admin-box{
    background-color: red; 
}

.moderator-box{
    background-color:rgb(0, 114, 104);
}

.button-green {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    /* background-color: #005F50; */ /* NICHT LÖSCHEN, ALTE BUTTON FARBE */
    background-color: #017463;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button-green:hover {
    /* background-color: #004238; */ /* NICHT LÖSCHEN, ALTE BUTTON FARBE */
    background-color: #025247;
}

.button-red {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #aa2200;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button-red:hover {
    background-color: #801c00;
}

.link-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bigger-icon {
   font-size: 20px;
}

