.container-admin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 1700px;
    max-width: 100%;
    height: 750px;
    max-height: 100%;
    box-sizing: border-box;
    text-align: center;
}

.admin-actions {
    display: flex;
    flex-direction: row;
    height: 600px;
    max-height: 100%;
}

.col-users {
    overflow-y: scroll;
    background-color: #e7e7e7;
    margin: 10px;
    width: 30%;
    border-radius: 15px;
}

.reports-box {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    height: 25%;
}

.actions-box {
    display: flex;
    flex-direction: row;
}

.reason-box {
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 5px;
}

.col-ressources {
    overflow-y: scroll;
    margin: 10px;
    width: 40%;
    background-color: #e7e7e7;
    border-radius: 15px;
}

.col-system {
    margin: 10px;
    width: 30%;
    position: relative;
}

.row {
    background-color: #e7e7e7;
    height: 48.5%;
    width: 100%;
    border-radius: 15px;
}

.top-row {
    overflow-y: scroll;
    position: absolute;
    top: 0;
}

.bottom-row {
    position: absolute;
    bottom: 0;
}

.list-content-box {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.list-content-box-reports {
    margin: 5px;
    padding: 5px;
}

.button-green {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    /* background-color: #005F50; */ /* NICHT LÖSCHEN, ALTE BUTTON FARBE */
    background-color: #017463;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button-green:hover {
    /* background-color: #004238; */ /* NICHT LÖSCHEN, ALTE BUTTON FARBE */
    background-color: #025247;
}

.button-red {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #aa2200;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button-red:hover {
    background-color: #801c00;
}

.link-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bigger-icon {
   font-size: 20px;
}