/* Stile für die Suchergebnisse */
.results h2 {
    margin: 0;
    font-size: 1.5em;
}

.results p {
    margin: 5px 0;
}

/* Stile für den Hauptinhalt */
.ressource-container {
    background-color: #fd9208;
    padding: 30px;
    border: 20px dashed #fff;
    width: 60%; /* Breite des Containers als Prozentsatz des Bildschirms */
    position: fixed; /* Fixiert den Container am Bildschirm */
    left: 50px; /* Abstand vom linken Rand des Bildschirms */
    top: 0; /* Optional: Position von oben, um den Container oben zu halten */
    display: flex;
    flex-direction: column; /* Stellt die Elemente untereinander auf */
    gap: 20px; /* Abstand zwischen den Elementen */
    background: #4CAF50; /* Hintergrundfarbe */
    color: #23812bcc; /* Textfarbe */
}

.ressource-preview-box {
    background: #4CAF50; /* Grüner Hintergrund */
    color: #23812bcc;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 18px;
}


/* Stile für die Paginierung */
.pagination {
    margin-top: 20px;
    margin-bottom:20px;
    left: 30%;
    text-align: center;

}

.pagination a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
    font-size: 1em;
}

.pagination a:hover {
    text-decoration: underline;
}

.pagination span {
    margin: 0 10px;
    font-size: 1em;
}