.container-admin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 1700px;
    max-width: 100%;
    height: 750px;
    max-height: 100%;
    box-sizing: border-box;
    text-align: center;
}

.admin-actions {
    display: flex;
    flex-direction: row;
    height: 600px;
    max-height: 100%;
}

.col-users {
    overflow-y: scroll;
    background-color: #e7e7e7;
    margin: 10px;
    width: 30%;
    border-radius: 15px;
}

.col-ressources {
    overflow-y: scroll;
    margin: 10px;
    width: 40%;
    background-color: #e7e7e7;
    border-radius: 15px;
}

.col-system {
    margin: 10px;
    width: 30%;
    position: relative;
}

.row {
    background-color: #e7e7e7;
    height: 48.5%;
    width: 100%;
    border-radius: 15px;
}

.top-row {
    overflow-y: scroll;
    position: absolute;
    top: 0;
}

.bottom-row {
    position: absolute;
    bottom: 0;
}

.list-content-box {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
