/* Grundlegende Layout-Einstellungen */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Verhindert jegliches Scrollen die seite */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
   
}


header {
    background-color: #005F50; /* Dunkelgrün */
    color: white;
    padding: 10px 10px;
    
}

header .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    height: 50px;
}
header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

footer { 
    background-color: #005F50;
    color: white;
    padding: 10px;
    text-align: center;
}

.main-content {
    display: flex;
    flex: 1;
  overflow: hidden;/* Verhindert jegliches Scrollen in main */
}

.content {
    flex: 3;/* Nimmt 3 Teile des verfügbaren Platzes ein */
     
    padding: 20px;
    overflow-y: auto; /* Erm?glicht nur vertikales Scrollen innerhalb des Inhalts */
    height: 100%; /* Stellt sicher, dass .content die volle H?he einnimmt */
  
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
/*     justify-content: space-between; */
    padding: 20px;
    background-color: #ddd;
    overflow: hidden; /* Verhindert jegliches Scrollen in der Sidebar */
    height: 100%; /* Stellt sicher, dass .sidebar die volle H?he einnimmt */
}

.search-container {
    height: 70%;
    flex-direction: column;
    justify-content: flex-start;
}

.add-ressource-container {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.bottom-btn-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 30px;
}

.bottom-btn-container button {
    width: 100%;
    padding: 10px;
    background-color: #005F50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.bottom-btn-container button:hover {
    background-color: #004238;
}

/* Formulargestaltung */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #017463;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #025247;
}

/* ---------------------------------------------------------------------------------------------------------*/

.ressourcen-formular-container{
    height: 95%;
}

.resourcen-formular {
    border: 2px solid #000;
    height: 83px;
    padding: 20px;
    margin: 5px;
/*     width: 80%;
    max-width: 800px; */ /* Maximalbreite des Formulars */
    width: 96%;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
}

.resourcen-formular label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.resourcen-formular output[type="text"],
.resourcen-formular select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.resourcen-formular .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #005F50;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.resourcen-formular  button:hover {
    background-color: #004238;
}

.resourcen-formular .fields-container {
    display: flex;
    justify-content: space-between;
}

.resourcen-formular .fields-container output[type="text"] {
    width:32%;
    padding: 10px;
}
/* ---------------------------------------------------------------------------------------------------------*/

.navigation-buttons {
    padding-bottom: 5%;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navigation-buttons .nav-button {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    margin: 0 20px; /* Abstand zwischen den Pfeilen */
}

.navigation-buttons .nav-button:active {
    background-color: #0056b3;
}

/* Modal-Stile */
.modal {
    display: none; /* Modal ist anfangs nicht sichtbar */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4); /* Hintergrundfarbe mit Transparenz */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Zentrierung */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Breite des Modal-Inhalts reduziert */
    height: 73%; /* Höhe des Modals wird automatisch an den Inhalt angepasst */
    overflow-y: auto; /* Ermöglicht Scrollen innerhalb des Modals bei Überlauf */
    position: relative;
    border-radius: 8px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

.id-name-like-x {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.desc-times {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.fak-type-created-pub{
    display: flex;
    flex-direction: column;
}

.created-pub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desk-times-link {
    width: 67%;
    height: 100%;
}

.fak-type-created-pub-report{
    width: 30%;
    height: 100%;
}

.below-id-name-like-x {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back-arrow {
    font-size: 24px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* .modal-like {

} */

.like-button {
    color: white;
    background-color: #2DC27B;
    /* font-size: 14px; */
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    width:10%;
    height:15%; 
    display: flex; 
    flex-direction: row;
/*     margin-top: 8px; */
}
.like-button:hover {
    background-color: #1a7549;
}


.modal-body {
    display: flex;
    flex-direction: column; /* Informationen untereinander anordnen */
    margin-top: 20px;
    flex-wrap: wrap; /* Elemente umbrechen */
    gap: 10px; /* Abstand zwischen den Feldern */
}

.resource-info {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.resource-info .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.resource-info label {
    font-weight: bold;
    margin-bottom: 5px;
}

.resource-info input[type="text"].resource-info select,
.resource-info textarea  {
    width: 100%;
    padding: 8px; /* Padding etwas reduziert */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

.report-system {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.report-system button {
    padding: 10px 15px; /* Padding angepasst, um die Buttons kleiner zu machen */
    margin-left: 10px;
    background-color: #005F50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.report-system button:hover {
    background-color: #004238;
}

.admin-only-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.published-color-green{
    text-align: center;
    background-color: #4CAF86;
    color: white;
}

.published-color-red{
    background-color: #B4312E;
    color: white;
}


.box-ressource-suggestions{
    border: 2px solid rgb(71, 71, 71);
    height: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.suggested-ressource{
    width: 95%;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggested-ressource-actions{
    display: flex;
    flex-direction: row;
}

.suggested-button-green{
    background-color: #4caf59;
}

.suggested-ressource-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vote-box{
    display: flex;
    flex-direction: row;
    margin-left: 4px;
}




#value-container {
    visibility: hidden;
}