/* Grundlegende Layout-Einstellungen */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Verhindert das Scrollen des Viewports */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #006400; /* Dunkelgrün */
    color: white;
    padding: 10px 10px;
}

header .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    height: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #006400;
    color: white;
    padding: 10px;
    text-align: center;
}

.main-content {
    display: flex;
    flex: 1;
    overflow: hidden; /* Verhindert das Scrollen in der gesamten Hauptinhalt */
    position: relative; /* Wichtig für die Platzierung der Navigation-Buttons */
}

.content {
    flex: 3; /* Nimmt 3 Teile des verfügbaren Platzes ein */
    padding: 20px;
    overflow-y: auto; /* Ermöglicht nur vertikales Scrollen innerhalb des Inhalts */
    height: 100%; /* Stellt sicher, dass .content die volle Höhe einnimmt */
    position: relative;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #ddd;
    overflow: hidden; /* Verhindert das Scrollen in der Sidebar */
    height: 100%; /* Stellt sicher, dass .sidebar die volle Höhe einnimmt */
}

.search-container {
    flex-direction: column;
    justify-content: flex-start;
}

.bottom-btn-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
}

.bottom-btn-container button {
    width: 100%;
    padding: 10px;
    background-color: #004d00;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.bottom-btn-container button:hover {
    background-color: #003300;
}

/* Formulargestaltung */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #006400;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #004d00;
}

/* --------------------------------------------------------------------------------------------------------- */
.resourcen-formular {
    border: 2px solid #000;
    padding: 20px;
    width: 80%;
    max-width: 800px; /* Maximalbreite des Formulars */
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    margin-bottom: 20px; /* Abstand zwischen den Formularen */
}

.resourcen-formular label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.resourcen-formular input[type="text"],
.resourcen-formular select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.resourcen-formular .button {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #28a745;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.resourcen-formular .fields-container {
    display: flex;
    justify-content: space-between;
}

.resourcen-formular .fields-container input[type="text"] {
    width: 32%;
    padding: 10px;
}

/* --------------------------------------------------------------------------------------------------------- */
/* Navigation Buttons - Pfeile */
.navigation-buttons {
    position: sticky; /* Sticky Positionierung */
    top: 50%; /* Platziert die Buttons vertikal mittig */
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%, -50%);/* Zentriert die Buttons genau in der Mitte des Viewports */
    display: flex;
    justify-content: center;
    z-index: 1000; /* Sicherstellen, dass die Buttons über dem Inhalt liegen */
    pointer-events: none; /* Verhindert Interaktionen mit dem darunterliegenden Inhalt */
}

.navigation-buttons .nav-button {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    margin: 0 20px; /* Abstand zwischen den Pfeilen */
   pointer-events: all; /* Erlaubt die Interaktion mit den Buttons */
}

.navigation-buttons .nav-button:active {
    background-color: #0056b3;
}

/* Modal-Stile */
.modal {
    display: none; /* Modal ist anfangs nicht sichtbar */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Hintergrundfarbe mit Transparenz */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Zentrierung */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Breite des Modal-Inhalts reduziert */
    max-width: 600px; /* Maximalbreite des Modals weiter reduziert */
    height: auto; /* Höhe des Modals wird automatisch an den Inhalt angepasst */
    max-height: 80%; /* Maximalhöhe des Modals auf 80% des Sichtbereichs */
    overflow-y: auto; /* Ermöglicht Scrollen innerhalb des Modals bei Überlauf */
    position: relative;
    border-radius: 8px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.back-arrow {
    font-size: 24px;
    cursor: pointer;
}

.close {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-like {
    position: absolute;
    top: 10px;
    right: 50px; /* Platzierung des Like-Buttons rechts neben dem Close-Button */
}

.like-button {
    background: none;
    border: none;
    color: red;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.modal-body {
    display: flex;
    flex-direction: column; /* Informationen untereinander anordnen */
    margin-top: 20px;
   flex-wrap: wrap; /* Elemente umbrechen */
    gap: 10px; /* Abstand zwischen den Feldern */
}

.resource-info {
    width: 100%;
    margin-bottom: 20px;
}

.resource-info .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.resource-info label {
    font-weight: bold;
    margin-bottom: 5px;
}

.resource-info input[type="text"].resource-info select,
.resource-info textarea  {
    width: 100%;
    padding: 8px; /* Padding etwas reduziert */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.report-system {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.report-system button {
    padding: 10px 15px; /* Padding angepasst, um die Buttons kleiner zu machen */
    margin-left: 10px;
    background-color: #006400;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.report-system button:hover {
    background-color: #004d00;
}
