<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Admin-Bereich</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_ressources.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_admin.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="../gast/logo.jpg" alt="TU Chemnitz Logo">
            </div>
            <nav>
                <ul>
                    <ul id="nav-links">
                        <!-- Links, die für alle Benutzer angezeigt werden -->
                        <li><a href="/">Startseite</a></li>
                        <li><a href="search">Ressourcen</a></li>
                
                        <!-- Admin-spezifische Links, die nur angezeigt werden, wenn die Rolle 'administrator' ist -->
                        {% if session.get('role') == 'administrator' %}
                        <li><a href="admin">Admin-Bereich</a></li>
                        {% endif %}
                
                        <!-- Gemeinsame Abmelde-Option für alle Benutzer -->
                         {% if session.get('role') == None %}
                        <li><a href="register">Registrieren</a></li>
                        <li><a href="login">Anmelden</a></li>
                        {% else %}
                        <li><a href="{{ url_for('UI_logout_user') }}">Abmelden</a></li>
                        {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <!-- Flash-Nachrichten anzeigen -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">
                            {{ message }}
                            <span class="close-btn">&times;</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        
        <div class="container-admin">
            <div>
                <h1>Admin-Bereich</h1>
                <p>Hier sehen sie gelöschte Ressourcen und Meldungen</p>
            </div>

            <div class="admin-actions">

                <div class="col-users">
                    <h2>Liste aller Meldungen</h2>

                    {% for report in reports %}
                    <div class="list-content-box-reports reports-box">
                        <div class="list-content-box-name" style="display: flex; flex-direction: row;">
                            <div class="reason-box">
                                <b> Meldung von Ressource {{ report.ressource_id }} von {{ report.user_tag }}</b>
                            </div>

                            <div class="list-content-box-actions actions-box">
                                <form method="post" style="margin:3px">
                                    <button class="button-green" type="submit">&#128065;</button>
                                </form>
                                <form method="post" style="margin-top:3px; margin-bottom:3px">
                                    <button class="button-red" type="submit">&#10006;</button>
                                </form>
                            </div>
                        </div>
                    
                        <div class="reason-box" style="margin-top: 7px">
                            <b>Grund:</b>
                            <br></br>
                            <b>"{{ report.reason }}"</b>
                        </div>    
                        
                    </div>
                    {% endfor %}
                </div>

                <div class="col-ressources">
                    <h2>Liste aller gelöschten Ressourcen</h2>
        

                    {% for resource in deleted_ressources %}
                    <div class="list-content-box-reports reports-box">

                        <div class="list-content-box-name" style="display: flex; flex-direction: row;">

                            <div class="reason-box">
                                <b>Ressource {{ resource.ressource_id }} gelöscht von Nutzer {{resource.user_id}}</b>
                            </div>

                            <div class="list-content-box-actions actions-box">

                                <button class="button-green" onclick="open_inspect_modal('{{ resource.ressource_id }}')">&#128065;</button>
                                </form>
                                <form method="post" style="margin:3px">
                                    <button class="button-green" type="submit"style="font-size: 15px">Wiederherstellen</button>
                                </form>                             
                            </div>
                        </div>

                        <div class="reason-box" style="margin-top: 7px">
                            <b>Grund:</b>
                            <br></br>                            
                            <b>"{{resource.reason}}"</b>
                        </div>

                    </div>
                    {% endfor %}



                </div>

                <div class="col-system">
                    <div class="row top-row">
                        <h2>Noch nix</h2>
                    </div>
                    <div class="row bottom-row">
                        <h2>Systemeinstellungen</h2>
                        <form action="{{ url_for('UI_admin_panel',)}}" method="post" style="display:inline;">
                            <button class="button-green" type="submit">Zurück zur Nutzer- und Ressourcenverwaltung</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>


    </main>

    <footer>
        <p>&copy; 2024 Ressourcen-Portal. Alle Rechte vorbehalten.</p>
    </footer>

    <!-- Modal-Fenster zum Anzeigen von Ressourcen -->
    <div id="resourceModal" class="modal">
        <div class="modal-content">
            <!-- Header Bereich mit Zurück-Pfeil, Schließen-Knopf und Herz-Button -->
            <div class="modal-header">
                <!-- <span class="back-arrow" onclick="closeModal()">&#8592;</span> -->
                <span class="close" onclick="close_inspect_modal()">&times;</span>
            </div>
            
            <div class="modal-like">
                <button class="like-button" onclick="like_ressource()">❤️
                <input type="text" id="i_like_count" value="" readonly />
                </button>
            </div>

            <!-- Content-Bereich für Ressource-Informationen -->
            <div class="modal-body">
                <form class="resource-info">
                    <div class="form-group">
                        <label for="id">ID:</label>
                        <input type="text" id="i_ressource_id" name="link">
                    </div>
                    <div class="form-group">
                        <label for="link">Link:</label>
                        <input type="text" id="i_link" name="link">
                    </div>
                    <div class="form-group">
                        <label for="beschreibung">Beschreibung:</label>
                        <input type="text" id="i_description" name="beschreibung">
                    </div>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="i_name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="offnungzeit">Öffnungszeit:</label>
                        <input type="text" id="i_opening_hours" name="offnungzeit">
                    </div>
                    <div class="form-group">
                        <label for="fakultaet">Fakultät:</label>
                        <input type="text" id="i_faculty" name="fakultaet">
                    </div>
                    <div class="form-group">
                        <label for="typ">Typ:</label>
                        <input type="text" id="i_ressource_type" name="typ">
                    </div>
                    <div class="form-group">
                        <label for="ersteller">Ersteller:</label>
                        <input type="text" id="i_created_by" name="ersteller">
                    </div>
                </form>

                <!-- Meldesystem -->
                <form class="report-system">

                    <form action="{{ url_for('UI_report_ressource') }}" method="post" style="display:inline;">
                        <!--<input type="hidden" name="ressource_id" value=""> -->
                        <button type="button">Ressource melden</button>

                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
