<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Admin-Bereich</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_ressources.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_admin.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="../gast/logo.jpg" alt="TU Chemnitz Logo">
            </div>
            <nav>
                <ul>
                    <ul id="nav-links">
                        <!-- Links, die für alle Benutzer angezeigt werden -->
                        <li><a href="/">Startseite</a></li>
                        <li><a href="search">Ressourcen</a></li>
                
                        <!-- Admin-spezifische Links, die nur angezeigt werden, wenn die Rolle 'administrator' ist -->
                        {% if session.get('role') == 'administrator' or session.get('role') == 'moderator' %}
                        <li><a href="admin">Admin-Bereich</a></li>
                        {% endif %}
                
                        <!-- Gemeinsame Abmelde-Option für alle Benutzer -->
                         {% if session.get('role') == None %}
                        <li><a href="register">Registrieren</a></li>
                        <li><a href="login">Anmelden</a></li>
                        {% else %}
                        <li><a href="{{ url_for('UI_logout_user') }}">Abmelden</a></li>
                        {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main style="overflow-y: scroll">

        <!-- Flash-Nachrichten anzeigen -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">
                            {{ message }}
                            <span class="close-btn">&times;</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        
        <div class="container-admin">
            <div>
                <h1>Admin-Bereich</h1>
                <p>Hier sehen sie gelöschte Ressourcen und Meldungen</p>
            </div>

            <div class="admin-actions">

                <div class="col-all-reports">
                    <h2>Liste aller Meldungen</h2>

                    {% for report in reports %}
                    <div class="reports-box">
                        <div class="reports-box-header">
                            <div class="reports-box-name">
                                <div class="reports-box-name-textbox">
                                    <b> Meldung von Ressource {{ report.ressource_id }} von {{ report.user_tag }}</b>
                                </div>
                            </div>

                            <div class="reports-box-actions">
                                <button class="button-green reports-box-actions-button" onclick="open_inspect_modal('{{ report.ressource_id }}', { ressource_id: 'admin2_i_ressource_id', description: 'admin2_i_description', link: 'admin2_i_link', name: 'admin2_i_name', hours: 'admin2_i_opening_hours', faculty: 'admin2_i_faculty', ressource_type: 'admin2_i_ressource_type', created_by: 'admin2_i_created_by', like_count: 'admin2_i_like_count', like_emoji: 'admin2_i_like_emoji', is_published: 'admin2_i_is_published'})">&#128065;</button>
                                <form action="{{ url_for('UI_delete_report', report_id = report.report_id)}}" method="post">
                                    <button class="button-red reports-box-actions-button" type="submit">&#10006;</button>
                                </form>
                            </div>
                        </div>
                    
                        <div class="reason-box">
                            <b>Grund:</b>
                            <text style="font-size:1.7vh">"{{ report.reason }}"</text>
                        </div>    
                        
                    </div>
                    {% endfor %}
                </div>

                <div class="col-ressources-deleted">
                    <h2>Liste aller gelöschten Ressourcen</h2>
        

                    {% for resource in deleted_ressources %}
                    <div class="reports-box">
                        <div class="reports-box-header">
                            <div class="reports-box-name">
                                <b>Ressource {{ resource.ressource_id }} gelöscht von Nutzer {{resource.user_id}}</b>
                            </div>

                            <div class="reports-box-actions">

                                <button class="button-green reports-box-actions-button" onclick="open_inspect_modal('{{ resource.ressource_id }}', { ressource_id: 'admin2_i_ressource_id', description: 'admin2_i_description', link: 'admin2_i_link', name: 'admin2_i_name', hours: 'admin2_i_opening_hours', faculty: 'admin2_i_faculty', ressource_type: 'admin2_i_ressource_type', created_by: 'admin2_i_created_by', like_count: 'admin2_i_like_count', like_emoji: 'admin2_i_like_emoji', is_published: 'admin2_i_is_published'})">&#128065;</button>
                                <form action="{{ url_for('UI_revive_ressource', ressource_id = resource.ressource_id)}}" method="post">
                                    <button class="button-green reports-box-actions-button" type="submit">Wiederherstellen</button>
                                </form>                            
                            </div>
                        </div>

                        <div class="reason-box">
                            <b>Grund:</b>                         
                            <text style="font-size:1.7vh">"{{resource.reason}}"</text>
                        </div>

                    </div>
                    {% endfor %}



                </div>

                <div class="col-system">
                    <div class="broken-links">
                        <div class="link-header">
                            <h2>Liste aller defekten Links</h2>
                            <form action="{{ url_for('UI_check_links') }}" method="post" style="margin: 5px">
                                <button class= "button-green bigger-icon" type="submit">&#x21bb</button>
                            </form>
                        </div>


                        {% for report in invalid_link_reports %}
                        <div class="link-box">
                            <div style="display: flex; flex-direction: row;overflow: hidden; text-overflow: ellipsis; white-space: nowrap">
                                <b>{{ report.id }}: {{report.ressource_id}} Link: </b>
                                <text>&nbsp; {{ report.invalid_link }} </text> <!-- &nbsp; ist ein leerzeichen -->
                            </div>

                            <div class="reports-box-actions">
                                <button class="button-green reports-box-actions-button" onclick="open_inspect_modal('{{ report.ressource_id }}', { ressource_id: 'admin2_i_ressource_id', description: 'admin2_i_description', link: 'admin2_i_link', name: 'admin2_i_name', hours: 'admin2_i_opening_hours', faculty: 'admin2_i_faculty', ressource_type: 'admin2_i_ressource_type', created_by: 'admin2_i_created_by', like_count: 'admin2_i_like_count', like_emoji: 'admin2_i_like_emoji', is_published: 'admin2_i_is_published'})">&#128065;</button>
                                <form action="{{ url_for('UI_publish_ressource', ressource_id = report.ressource_id) }}" method="post">
                                    <button class= "button-green reports-box-actions-button"type="submit">Veröffentlichen</button>
                                </form>

                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <form action="{{ url_for('UI_admin_panel',)}}" method="post" style="display:inline; width:100%">
                        <button class="button-green" type="submit" >Zurück zur Nutzer- und Ressourcenverwaltung</button>
                    </form>

                </div>

            </div>

        </div>


    </main>

    <footer>
        <p>&copy; 2024 Ressourcen-Portal. Alle Rechte vorbehalten.</p>
    </footer>

    <!-- Modal-Fenster zum Anzeigen von Ressourcen -->
    <div id="resourceModal" class="modal">
        <div class="modal-content">

            <!-- Content-Bereich für Ressource-Informationen -->
            <div class="modal-body">

                <form class="resource-info" action="{{ url_for('UI_change_ressource') }}" method="post">

                    <div class="modal-header">
                        <h1>Ressourcen-Details</h1>
    
    
                        <!-- DIESE BOX SIEHT NUR DER ADMIN -->
                        {% if session.get('role') == 'administrator' or session.get('role') == 'moderator' %} 
                            <div class="admin-only-box">

                                <button class="published-color-green font-scaler" style="width: 50%; margin: 5px;" id="admin2_i_is_published" type="button" onclick="toggle_published({is_published: 'admin2_i_is_published'})"></button>

                                <div class="form-group" style="margin-bottom:10px">
                                    <button class="button-green" type="submit">Änderungen speichern</button>
                                </div>
                            </div>
                        {% endif %}
                        <!-- ENDE DER ADMIN BOX -->
    
                        
                        <div class="form-group" style="margin-bottom:10px;">
                            <button onclick="close_inspect_modal()" type="button">&#10006;</button>
                        </div>
    
                        <!-- <button style="width:5%;font-size: 35px;" onclick="close_inspect_modal()">&times;</button> --> 
                    </div>

                    <div class="id-name-like-x">
                        <div class="form-group" style="width:80%">
                            <label for="name">Name:</label>
                            <input type="text" id="admin2_i_name" name="name">
                        </div>
                        <div class="form-group" style="width:5%">
                            <label for="id">ID:</label>
                            <input type="text" id="admin2_i_ressource_id" name="ressource_id" readonly>
                        </div>
                        <div class="form-group" style="width:10%">
                            <label>Likes:</label>
                            <button class="like-button" style="margin-top: 0px" type="button" onclick="like_ressource({ressource_id: 'admin2_i_ressource_id', like_count: 'admin2_i_like_count', like_emoji: 'admin2_i_like_emoji'})">
                                <text id="admin2_i_like_emoji"> </text>
                                <text id="admin2_i_like_count"> </text>
                            </button>
    
                        </div>

                    </div>

                    <div class="below-id-name-like-x">
                        <div class="desk-times-link">
                            <div class="desc-times">
                                <div class="desc-box" style="width: 65%">
                                    <div class="form-group">
                                        <label for="beschreibung">Beschreibung:</label>
                                        <textarea type="text" id="admin2_i_description" style="resize: none; height: 355px; width: 100%"name="description"></textarea>
                                    </div>
                                </div>
                                <div class="times-box" style="width: 30%">
                                    <div class="form-group">
                                        <label for="offnungzeit">Öffnungszeiten:</label>
                                        <textarea type="text" id="admin2_i_opening_hours" style="resize: none; height: 355px; width: 100%"name="opening_hours"></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="link">Link:</label>
                                <input type="text" id="admin2_i_link" name="link">
                            </div>
                        </div>
                        
                        <div class="fak-type-created-pub-report">
                            <div class="fak-type-created-pub">
                                <div class="form-group">
                                    <label for="fakultaet">Fakultät:</label>
                                    <input type="text" id="admin2_i_faculty" name="faculty">
                                </div>
                                <div class="form-group">
                                    <label for="typ">Typ:</label>
                                    <input type="text" id="admin2_i_ressource_type" name="ressource_type">
                                </div>
                                <div class="created-pub">
                                    <div class="form-group" style="width:100%">
                                        <label for="ersteller">Ersteller:</label>
                                        <input type="text" id="admin2_i_created_by" name="ersteller" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-report-system">
                                <div class="form-group">
                                    <label for="Grund">Grund:</label>
                                    <textarea style="resize: none; height: 150px" type="text" id="admin2_i_report_reason" name="Grund"></textarea>

                                    <button type="button" onclick="report_ressource({ressource_id: 'admin2_i_ressource_id', reason: 'admin2_i_report_reason'})" class="button-green" type="button" >Ressource melden</button>
                                </div>
                            </div>  
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/flash_messages.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ressource_inspect.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ressource_add.js') }}"></script>
</body>
</html>
