<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Admin-Bereich</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_ressources.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_admin.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="../gast/logo.jpg" alt="TU Chemnitz Logo">
            </div>
            <nav>
                <ul>
                    <ul id="nav-links">
                        <!-- Links, die für alle Benutzer angezeigt werden -->
                        <li><a href="/">Startseite</a></li>
                        <li><a href="search">Ressourcen</a></li>
                
                        <!-- Admin-spezifische Links, die nur angezeigt werden, wenn die Rolle 'administrator' ist -->
                        {% if session.get('role') == 'administrator' %}
                        <li><a href="admin">Admin-Bereich</a></li>
                        {% endif %}
                
                        <!-- Gemeinsame Abmelde-Option für alle Benutzer -->
                         {% if session.get('role') == None %}
                        <li><a href="register">Registrieren</a></li>
                        <li><a href="login">Anmelden</a></li>
                        {% else %}
                        <li><a href="{{ url_for('UI_logout_user') }}">Abmelden</a></li>
                        {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <!-- Flash-Nachrichten anzeigen -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">
                            {{ message }}
                            <span class="close-btn">&times;</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        
        <div class="container-admin">
            <div>
                <h1>Admin-Bereich</h1>
                <p>Hier können Sie Nutzer und Ressourcen verwalten, sowie Systemeinstellungen vornehmen.</p>
            </div>

            <div class="admin-actions">

                <div class="col-users">
                    <h2>Liste aller Nutzer</h2>

                    {% for user in users %}
                    <div class="list-content-box" style="align-items:center">
                        <div class="list-content-box-name">
                            <b>{{ user.user_id }}#{{ user.name }}</b>
                        </div>

                        <div class="list-content-box-actions actions-box">
                            <!-- Form for Befördern (Promote) -->
                            <form action="{{ url_for('UI_promote_user', user_id=user.user_id) }}" method="post" style="margin:2px">
                                <button class="button-green" type="submit">Befördern</button>
                            </form>
                                
                            <!-- Form for Degradieren (Demote) -->
                            <form action="{{ url_for('UI_demote_user', user_id=user.user_id) }}" method="post" style="margin:2px">
                                <button class="button-green" type="submit">Degradieren</button>
                            </form>
                                
                            <!-- Form for Löschen (Delete) -->
                            <form action="{{ url_for('UI_delete_user', user_id=user.user_id) }}" method="post" style="margin:2px">
                                <button class="button-green" type="submit">Löschen</button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}  

                </div>

                <div class="col-ressources">
                    <h2>Liste aller Ressourcen</h2>

                    {% for resource in resources %}
                    <div class="list-content-box" style="align-items:center">
                        <div class="list-content-box-name">
                            <b>Ressource {{ resource.ressource_id }}</b>
                        </div>

                        <div class="list-content-box-actions actions-box">
                            <!-- Form zum Anzeigen (Inspect) -->
                            <form action="{{ url_for('UI_inspect_ressource', ressource_id=resource.ressource_id) }}" method="post" style="margin:2px">
                                <button class="button-green" type="submit">Anzeigen</button>
                            </form>
                        
                            <!-- Form for Degradieren (Demote) -->
                            <form action="{{ url_for('UI_change_ressource', ressource_id=resource.ressource_id) }}" method="post" style="margin:2px">
                                <button class="button-green" type="submit">Bearbeiten</button>
                            </form>
                            
                            <!-- Form for Löschen (Delete) -->
                            <form action="{{ url_for('UI_delete_ressource', ressource_id=resource.ressource_id) }}" method="post" style="margin:2px">
                                <button class="button-green" type="submit">Löschen</button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                    

                <div class="col-system">
                    <div class="row top-row">
                        <div class="link-header">
                            <h2>Liste aller defekten Links</h2>
                            <form action="{{ url_for('UI_check_links') }}" method="post" style="margin: 5px">
                                <button class= "button-green bigger-icon" type="submit">&#x21bb</button>
                            </form>
                        </div>


                        {% for report in reports %}
                        <div class="list-content-box">
                            <div class="list-content-box-name">
                                <p>{{ report.id }}: {{report.ressource_id}} Link: {{ report.invalid_link }}</p>
                            </div>
                            <div class="list-content-box-actions">
                                
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="row bottom-row">
                        <h2>Systemeinstellungen</h2>
                        <!-- Form for Löschen (Delete) -->
                        <form action="{{ url_for('UI_admin_panel_2') }}" method="post" style="display:inline;">
                            <button class="button-green" type="submit">Gelöschte Ressourcen und Meldungen</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>


    </main>

    <footer>
        <p>&copy; 2024 Ressourcen-Portal. Alle Rechte vorbehalten.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
