<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Admin-Bereich</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_ressources.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_admin.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="../gast/logo.jpg" alt="TU Chemnitz Logo">
            </div>
            <nav>
                <ul>
                    <ul id="nav-links">
                        <!-- Links, die für alle Benutzer angezeigt werden -->
                        <li><a href="/">Startseite</a></li>
                        <li><a href="search">Ressourcen</a></li>
                
                        <!-- Admin-spezifische Links, die nur angezeigt werden, wenn die Rolle 'administrator' ist -->
                        {% if session.get('role') == 'administrator' or session.get('role') == 'moderator' %}
                        <li><a href="admin">Admin-Bereich</a></li>
                        {% endif %}
                
                        <!-- Gemeinsame Abmelde-Option für alle Benutzer -->
                         {% if session.get('role') == None %}
                        <li><a href="register">Registrieren</a></li>
                        <li><a href="login">Anmelden</a></li>
                        {% else %}
                        <li><a href="{{ url_for('UI_logout_user') }}">Abmelden</a></li>
                        {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main style="overflow-y: scroll">

        <!-- Flash-Nachrichten anzeigen -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">
                            {{ message }}
                            <span class="close-btn">&times;</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        
        <div class="container-admin">
            <div>
                <h1>Admin-Bereich</h1>
                <p>Hier können Sie Nutzer und Ressourcen verwalten, sowie Systemeinstellungen vornehmen.</p>
            </div>

            <div class="admin-actions">

                <div class="col-users">
                    <h2>Liste aller Nutzer</h2>

                    {% for user in users %}
                    <div class="list-content-box user-res-box" style="align-items:center">
                        <div class="user-list-box-name-and-checkbox">
                            {% if user.is_administrator %}
                                <div class="admin-and-mod-checkbox admin-box">
                                    <text> A </text>   <!-- "&nbsp; &nbsp;" einfügen wenn kein admin oder mod!!! -> leerzeichen -->
                                </div>
                            {% elif user.is_moderator %}
                                <div class="admin-and-mod-checkbox moderator-box">
                                    <text> M </text>
                                </div>
                            {% else %}
                                <b> &nbsp; &nbsp; &nbsp;</b>
                            {% endif %}
                            <b> &nbsp; {{ user.user_id }}#{{ user.name }}</b> 
                            <!-- Für User/Moderator/Admin Tag -->
                            
                        </div>

                        <div class="list-content-box-actions actions-box">
                            <!-- Form for Befördern (Promote) -->
                            <form action="{{ url_for('UI_promote_user', user_id=user.user_id) }}" method="post" style="margin:2px">
                                <button class="button-green" type="submit">Befördern</button>
                            </form>
                                
                            <!-- Form for Degradieren (Demote) -->
                            <form action="{{ url_for('UI_demote_user', user_id=user.user_id) }}" method="post" style="margin:2px">
                                <button class="button-green" type="submit">Degradieren</button>
                            </form>
                                
                            <!-- Form for Löschen (Delete) -->
                            <form action="{{ url_for('UI_delete_user', user_id=user.user_id) }}" method="post" style="margin:2px">
                                <button class="button-green" type="submit">Löschen</button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}  

                </div>

                <div class="col-res-but-del">
                    <div class="col-ressources">
                        <h2>Liste aller Ressourcen</h2>
    
                        {% for resource in resources %}
                        <div class="list-content-box user-res-box" style="align-items:center;">
                            <div class="list-ressources-title-box">
                                <b>ID: {{ resource.ressource_id }}, {{ resource.name }}</b>
                            </div>

                            <div class="deleted-published-box">
                                <div class="res-deleted-box">
                                    gel.
                                </div>
                                <div class="res-published-box">
                                    n. veröff.
                                </div>
                            </div>
    
                            <div class="actions-box list-ressources-actions-box" style="align-items:center;">
                                <!-- Form zum Anzeigen (Inspect) -->
                                <div style="margin:2px">
                                    <button class="button-green" onclick="open_inspect_modal('{{ resource.ressource_id }}', 'admin', { ressource_id: 'admin_i_ressource_id', description: 'admin_i_description', link: 'admin_i_link', name: 'admin_i_name', hours: 'admin_i_opening_hours', faculty: 'admin_i_faculty', ressource_type: 'admin_i_ressource_type', created_by: 'admin_i_created_by', like_count: 'admin_i_like_count', like_emoji: 'admin_i_like_emoji', is_published: 'admin_i_is_published'})">&#128065;</button>
                                </div>
                                
                                <!-- Form for Löschen (Delete) -->
                                <form action="{{ url_for('UI_delete_ressource', ressource_id=resource.ressource_id) }}" method="post" style="margin:2px; display: flex; flex-direction: row">
                                    <input class="form-group del-ressource-input-form" type="text" id="reason" name="reason" placeholder="Grund für die Löschung" required >
                                    <button class="button-green" type="submit" style="font-size: 15px; width: 80px;">Löschen</button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <!-- Button um zu gelöschen Ressourcen zu kommen -->
                    <form action="{{ url_for('UI_admin_panel_2') }}" method="post" style="display:inline; width:100%">
                        <button class="button-green" type="submit">Gelöschte Ressourcen und Meldungen</button>
                    </form>    
                </div>

            </div>

        </div>


    </main>

    <footer>
        <a href="docs">API-Dokumentation</a>
        <p>&copy; 2024 Ressourcen-Portal. Alle Rechte vorbehalten.</p>
    </footer>

    <!-- Modal-Fenster zum Anzeigen von Ressourcen -->
    <div id="resourceModal" class="modal">
        <div class="modal-content">

            <!-- Content-Bereich für Ressource-Informationen -->
            <div class="modal-body">

                <form class="resource-info" action="{{ url_for('UI_change_ressource') }}" method="post">

                    <div class="modal-header">

                        <h1>Ressourcen-Details</h1>
    
                        <!-- DIESE BOX SIEHT NUR DER ADMIN -->
                        {% if session.get('role') == 'administrator' or session.get('role') == 'moderator' %} 
                            <div class="admin-only-box">

                                <button class="published-color-green font-scaler" style="width: 50%; margin: 5px;" id="admin_i_is_published" type="button" onclick="toggle_published({is_published: 'admin_i_is_published'})"></button>
    
                                <button class="button-green font-scaler" style="width: 50%; margin: 5px;" type="submit">Änd. speichern</button>

                            </div>
                        {% endif %}
                        <!-- ENDE DER ADMIN BOX -->
    
                        
                        <div class="form-group" style="margin-bottom:10px;">
                            <button onclick="close_inspect_modal()" type="button">&#10006;</button>
                        </div>
                    </div>

                    <div class="id-name-like-x">
                        <div class="form-group font-scaler" style="width:80%">
                            <label for="name">Name:</label>
                            <input type="text" id="admin_i_name" name="name">
                        </div>
                        <div class="form-group font-scaler" style="width:5%">
                            <label for="id">ID:</label>
                            <input style="padding-left:0; padding-right: 0;text-align:center;" type="text" id="admin_i_ressource_id" name="ressource_id" readonly>
                        </div>
                        <div class="form-group font-scaler" style="width:10%">
                            <label>Likes:</label>
                            <button class="like-button" style="margin-top: 0px" type="button" onclick="like_ressource({ressource_id: 'admin_i_ressource_id', like_count: 'admin_i_like_count', like_emoji: 'admin_i_like_emoji'})">
                                <text id="admin_i_like_emoji"> </text>
                                <text id="admin_i_like_count"> </text>
                            </button>
                        </div>

                    </div>

                    <!-- Beschreibung + Öffnungszeiten + Fakultät-Block -->

                    <div class="desc-times font-scaler">
                        <div class="desc-box">
                            <div class="form-group textarea-height-tall">
                                <label for="beschreibung">Beschreibung:</label>
                                <textarea class="textarea-width  textarea-height-tall" type="text" id="admin_i_description" name="description"></textarea>
                            </div>
                        </div>

                        <div class="times-box font-scaler">
                            <div class="form-group textarea-height-tall">
                                <label for="offnungzeit">Öffnungszeiten:</label>
                                <textarea class="textarea-width  textarea-height-tall" type="text" id="admin_i_opening_hours" name="opening_hours"></textarea>
                            </div>
                        </div>
                        
                        <!-- Fakultät + Typ + Ersteller -->
                        <div class="fak-type-created-pub font-scaler">
                            <div class="form-group formgroup-height" style="margin-bottom: 0px;">
                                <label for="fakultaet">Fakultät:</label>
                                <input class="textarea-width" style="height: 2.8vw;" type="text" id="admin_i_faculty" name="faculty"></input>
                            </div>
                            <div class="form-group formgroup-height" style="margin-bottom: 0px;">
                                <label for="typ">Typ:</label>
                                <input class="textarea-width" style="height: 2.8vw;"  type="text" id="admin_i_ressource_type" name="ressource_type"></input>
                            </div>
                            <div class="form-group formgroup-height" style="margin-bottom: 0px;">
                                <label for="ersteller">Ersteller:</label>
                                <input class="textarea-width" style="height: 2.8vw;" type="text" id="admin_i_created_by" name="ersteller" readonly></input>
                            </div>
                        </div>

                    </div>


                    <!-- Link  -->
                    <div class="form-group font-scaler">
                        <label for="link">Link:</label>
                        <input type="text" id="admin_i_link" name="link">
                    </div>

                    <!-- Reportleiste -->
                    <div class="form-group font-scaler">
                        <label for="Grund2">Grund für Ressourcenmeldung:</label>
                        <div class="modal-report-system" name="Grund2">
                            <input class="modal-report-system-input" type="text" id="admin_i_report_reason" name="Grund"></input>
                            <button style="width: 30%; margin-top: 0px;" type="button" onclick="report_ressource({ressource_id: 'admin_i_ressource_id', reason: 'admin_i_report_reason'})" class="button-green" type="button" >Ressource melden</button>
                        </div>
                    </div>
                     

                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/flash_messages.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ressource_inspect.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ressource_add.js') }}"></script>
</body>
</html>
