<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrieren - Ressourcen-Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_ressources.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="logo.jpg" alt="TU Chemnitz Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="/">Startseite</a></li>
                    <li><a href="search">Ressourcen</a></li>
                    <li><a href="register">Registrieren</a></li>
                    <li><a href="login">Anmelden</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <!-- Flash-Nachrichten anzeigen -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">
                            {{ message }}
                            <span class="close-btn">&times;</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="container">
            <h1>Registrieren</h1>
            <form action="{{ url_for('UI_register_user') }}" method="post">
                <div class="form-group">
                    <label for="username">Name:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Passwort:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <button type="submit">Registrieren</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <text style="margin-left: 50px">&copy; 2024 Ressourcen-Portal. Alle Rechte vorbehalten.</text>
        <a style="margin-right: 50px; color: white" href="docs">API-Dokumentation</a>
    </footer>
    <script src="{{ url_for('static', filename='js/flash_messages.js') }}"></script>
</body>
</html>
