<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suche - Ressourcen-Portal</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_search.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_general.css') }}">   <!-- DAS HIER CRACKED -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_flash.css') }}">        <!-- dürfte KEIN problem sein -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_ressources.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_general.css') }}">

    
</head>

</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="logo.jpg" alt="TU Chemnitz Logo">
            </div>
            <nav>
                <ul id="nav-links">
                    <!-- Links, die für alle Benutzer angezeigt werden -->
                    <li><a href="/">Startseite</a></li>
                    <li><a href="search">Ressourcen</a></li>
            
                    <!-- Admin-spezifische Links, die nur angezeigt werden, wenn die Rolle 'administrator' ist -->
                    {% if session.get('role') == 'administrator' or session.get('role') == 'moderator' %}
                    <li><a href="admin">Admin-Bereich</a></li>
                    {% endif %}
            
                    <!-- Gemeinsame Abmelde-Option für alle Benutzer -->
                     {% if session.get('role') == None %}
                    <li><a href="register">Registrieren</a></li>
                    <li><a href="login">Anmelden</a></li>
                    {% else %}
                    <li><a href="{{ url_for('UI_logout_user') }}">Abmelden</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>


    <main class="main-content" style="flex-direction: row; padding: 0px">
        <!-- ----------------Hauptinhalt--------------------- -->

        <!--Hier waren mal flash ma-->

        <section class="content">
            <div class="ressourcen-formular-container" style="padding-top:20px">

                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        <div class="flash-messages-search">
                            {% for category, message in messages %}
                                <div class="flash {{ category }}">
                                    {{ message }}
                                    <span class="close-btn">&times;</span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}


                {% for resource in results %}
                <div class="resourcen-formular">
                    <button class="button" onclick="open_inspect_modal('{{ resource.ressource_id }}', { ressource_id: 'rs_i_ressource_id', description: 'rs_i_description', link: 'rs_i_link', name: 'rs_i_name', hours: 'rs_i_opening_hours', faculty: 'rs_i_faculty', ressource_type: 'rs_i_ressource_type', created_by: 'rs_i_created_by', like_count: 'rs_i_like_count', like_emoji: 'rs_i_like_emoji', is_published: 'rs_i_is_published'})">&#128065;</button> <!-- Knopf mit Augensymbol -->
                    <div>
                        <label for="name">Titel: {{ resource.name }}</label>
                    </div>
    
                    <div class="fields-container">
                        <div class="form-group" style="margin-bottom: 0px">
                            <label for="typ">Ressourcentyp:</label>
                            <input type="text" id="typ" name="typ" value="{{ resource.ressource_type }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="fakultaet">Fakultät:</label>
                            <input type="text" id="fakultaet" name="fakultaet" value="{{ resource.faculty }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="erstellt">Erstellt von:</label>
                            <input type="text" id="erstellt" name="erstellt" value="{{ resource.created_by }}" readonly>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- ----------------------Buttons: left-right ----------------------->
                <div class="navigation-buttons" style="align-items: center">
                    {% if page > 1 %}
                    <form action="{{ url_for('UI_search_ressource') }}" method="post" style="display:inline;">
                        <input type="hidden" name="page" value="{{ page-1 }}">
                        <input type="hidden" name="search_query" value="{{ searched_query }}">
                        <input type="hidden" name="faculty" value="{{ searched_faculty }}">
                        <input type="hidden" name="ressource_type" value="{{ searched_type }}">
                        <button type="submit">&#8592;</button>
                    </form>
                    {% endif %}
                    <div style="width: 115px; text-align: center">
                        <span>Seite {{ page }} von {{ total_pages }}</span>
                    </div>


                    {% if page < total_pages %}
                    <form action="{{ url_for('UI_search_ressource') }}" method="post" style="display:inline;">
                        <input type="hidden" name="page" value="{{ page+1 }}">
                        <input type="hidden" name="search_query" value="{{ searched_query }}">
                        <input type="hidden" name="faculty" value="{{ searched_faculty }}">
                        <input type="hidden" name="ressource_type" value="{{ searched_type }}">
                        <button type="submit">&#8594;</button>
                    </form>
                    {% endif %}
                    <!--<div class="nav-button" onclick="history.back()">&#8592;</div> -->
                    <!--<div class="nav-button" onclick="history.forward()">&#8594;</div> -->
                </div>

            </div>

        </section>

    <!-- ----------------------Sidebar ----------------------->
        <aside class="sidebar">
            <div class="search-container">
                <h1>Suche</h1>
                <form action="{{ url_for('UI_search_ressource')}}" method="post">
                    <div class="form-group">
                        <input type="hidden" name="page" value="1">
                        <label for="search">Suchbegriff:</label>
                        <input type="text" id="search_query" name="search_query" placeholder="Geben Sie Ihren Suchbegriff ein...">
                    </div>
                    <div class="form-group">
                        <label for="category">Fakultät:</label>
                        <select id="faculty" name="faculty">
                            <option value="all">Alle Kategorien</option>
                            <option value="Informatik">Informatik</option>
                            <option value="Naturwissenschaften">Naturwissenschaften</option>
                            <option value="Mathematik">Mathematik</option>
                            <option value="Maschinenbau">Maschinenbau</option>
                            <option value="Elektrotechnik und Informationstechnik">Elektrotechnik und Informationstechnik</option>
                            <option value="Wirtschaftswissenschaften">Wirtschaftswissenschaften</option>
                            <option value="Philosophische Fakultät">Philosophische Fakultät</option>
                            <option value="Human- und Sozialwissenschaften">Human- und Sozialwissenschaften</option>
                            <option value="Extern">Extern</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="category">Ressourcentyp:</label>
                        <select id="ressource_type" name="ressource_type">
                            <option value="all">Alle Kategorien</option>
                            <option value="Video">Video</option>
                            <option value="Bericht">Bericht</option>
                            <option value="Wissenschaftliche Arbeit">Wissenschaftliche Arbeit</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit">Suche starten</button>
                    </div>
                </form>
            </div>

            {% if session["role"] %}
            <div class="box-ressource-suggestions">
                <h2>Abstimmung für neue Ressourcen</h2>

                <!-- Hier Abstimmbare Sachen einfügen -->
                {% for suggestion in suggestions %}
                <div class="suggested-ressource">
                    <div class="suggested-ressource-name">
                        <text>{{ suggestion.name }}</text>
                    </div>
                    
                    <div class="suggested-ressource-actions">
                        <button class="button" onclick="open_inspect_modal('{{ suggestion.ressource_id }}', { ressource_id: 'rs_i_ressource_id', description: 'rs_i_description', link: 'rs_i_link', name: 'rs_i_name', hours: 'rs_i_opening_hours', faculty: 'rs_i_faculty', ressource_type: 'rs_i_ressource_type', created_by: 'rs_i_created_by', like_count: 'rs_i_like_count', like_emoji: 'rs_i_like_emoji', is_published: 'rs_i_is_published'})">&#128065;</button>
                        <div class="vote-box">
                            <form action="{{ url_for('UI_vote_suggestion', ressource_id = suggestion.ressource_id, vote = True) }}" method="post">
                                <button class= "suggested-button-green" type="submit">&#10003;</button>
                            </form>
                            <form action="{{ url_for('UI_vote_suggestion', ressource_id = suggestion.ressource_id, vote = False) }}" method="post">
                                <button class= "button-red" type="submit">&#10006;</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}


            <div class="add-ressource-container">
                <button onclick="open_add_modal()"> Ressource hinzufügen </button>
            </div>

        </aside>
    </main>
        

    <footer>
        <p>&copy; 2024 Ressourcen-Portal. Alle Rechte vorbehalten.</p>
    </footer>


    <!-- Modal-Fenster zum Anzeigen von Ressourcen -->
    <div id="resourceModal" class="modal">
        <div class="modal-content">

            <!-- Content-Bereich für Ressource-Informationen -->
            <div class="modal-body">

                <div class="modal-header">
                    <h1>Ressourcen-Details</h1>


                    <!-- DIESE BOX SIEHT NUR DER ADMIN -->
                    {% if session.get('role') == 'administrator' or session.get('role') == 'moderator' %} 
                        <div class="admin-only-box">
                            
                            <div class="form-group" style="margin-bottom:0px; margin-right: 10px;">
                                <input class="published-color-green" id="rs_i_is_published" type="text" name="veroeffentlicht" value="0" readonly>
                            </div>

                            <div class="form-group" style="margin-bottom:10px">
                                <button class="button-green" type="button" onclick="change_ressource()">Änderungen speichern</button>
                            </div>
                        </div>
                    {% endif %}
                    <!-- ENDE DER ADMIN BOX -->

                    
                    <div class="form-group" style="margin-bottom:10px;">
                        <button onclick="close_inspect_modal()">&#10006;</button>
                    </div>

                    <!-- <button style="width:5%;font-size: 35px;" onclick="close_inspect_modal()">&times;</button> --> 
                </div>

                <form class="resource-info">

                    <div class="id-name-like-x">
                        <div class="form-group" style="width:80%">
                            <label for="name">Name:</label>
                            <input type="text" id="rs_i_name" name="name" readonly>
                        </div>
                        <div class="form-group" style="width:5%">
                            <label for="id">ID:</label>
                            <input type="text" id="rs_i_ressource_id" name="link" readonly>
                        </div>
                        <div class="form-group" style="width:10%">
                            <label>Likes:</label>
                            <button class="like-button" style="margin-top: 0px" type="button" onclick="like_ressource({ressource_id: 'rs_i_ressource_id', like_count: 'rs_i_like_count', like_emoji: 'rs_i_like_emoji'})">
                                <text id="rs_i_like_emoji"> </text>
                                <text id="rs_i_like_count"> </text>
                            </button>
    
                        </div>

                    </div>

                    <div class="below-id-name-like-x">
                        <div class="desk-times-link">
                            <div class="desc-times">
                                <div class="desc-box" style="width: 65%">
                                    <div class="form-group">
                                        <label for="beschreibung">Beschreibung:</label>
                                        <textarea type="text" id="rs_i_description" style="resize: none; height: 355px; width: 100%"name="beschreibung" readonly></textarea>
                                    </div>
                                </div>
                                <div class="times-box" style="width: 30%">
                                    <div class="form-group">
                                        <label for="offnungzeit">Öffnungszeiten:</label>
                                        <textarea type="text" id="rs_i_opening_hours" style="resize: none; height: 355px; width: 100%"name="offnungzeit" readonly></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="link">Link:</label>
                                <input type="text" id="rs_i_link" name="link" readonly>
                            </div>
                        </div>
                        
                        <div class="fak-type-created-pub-report">
                            <div class="fak-type-created-pub">
                                <div class="form-group">
                                    <label for="fakultaet">Fakultät:</label>
                                    <input type="text" id="rs_i_faculty" name="fakultaet" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="typ">Typ:</label>
                                    <input type="text" id="rs_i_ressource_type" name="typ" readonly>
                                </div>
                                <div class="created-pub">
                                    <div class="form-group" style="width:100%">
                                        <label for="ersteller">Ersteller:</label>
                                        <input type="text" id="rs_i_created_by" name="ersteller" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-report-system">
                                <div class="form-group">
                                    <label for="Grund">Grund:</label>
                                    <textarea style="resize: none; height: 150px" type="text" id="rs_i_report_reason" name="Grund"></textarea>

                                    <button onclick="report_ressource({ressource_id: 'rs_i_ressource_id', reason: 'rs_i_report_reason'})" class="button-green" type="button" >Ressource melden</button>
                                </div>
                            </div>  
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="addModal" class="modal">
        <div class="modal-content" style="overflow:hidden">

            <!-- Content-Bereich für Ressource-Informationen -->
            <div class="modal-body" >

                <div class="modal-header">
                    <h1>Ressourcen-Details</h1>

  
                    <div class="form-group" style="margin-bottom:10px;">
                        <button onclick="close_add_modal()">&#10006;</button>
                    </div>

                    <!-- <button style="width:5%;font-size: 35px;" onclick="close_inspect_modal()">&times;</button> --> 
                </div>

                <form class="resource-info" action="{{ url_for('UI_add_ressource') }}" method="post">
                        <div class="form-group" style="width:100%">
                            <label for="name">Name:</label>
                            <input type="text" id="add_name" name="add_name" placeholder="Geben Sie hier den Namen der Ressource ein..." required>
                        </div>
                    </div>

                    <div class="below-id-name-like-x">
                        <div class="desk-times-link">
                            <div class="desc-times">
                                <div class="desc-box" style="width: 65%">
                                    <div class="form-group">
                                        <label for="beschreibung">Beschreibung:</label>
                                        <textarea type="text" id="add_description" style="resize: none; height: 355px; width: 100%" name="add_description" placeholder="Geben Sie hier die Beschreibung der Ressource ein..." required></textarea>
                                    </div>
                                </div>
                                <div class="times-box" style="width: 30%">
                                    <div class="form-group">
                                        <label for="offnungzeit">Öffnungszeiten:</label>
                                        <textarea type="text" id="add_opening_hours" style="resize: none; height: 355px; width: 100%" name="add_opening_hours" placeholder="Geben Sie hier (falls nötig) die Öffnungszeiten der Ressource ein..."></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="link">Link:</label>
                                <input type="text" id="add_link" name="add_link" placeholder="Geben Sie hier den Link der Ressource ein..." required>
                            </div>
                        </div>
                        
                        <div class="fak-type-created-pub-report">
                            <div class="fak-type-created-pub" style="height:476px; justify-content: space-between">
                                <div class="extra-box-fak-type"> 
                                    <div class="form-group">
                                        <label for="category">Ressourcentyp:</label>
                                        <select id="add_ressource_type" name="add_ressource_type">
                                            <option value="Video">Video</option>
                                            <option value="Bericht">Bericht</option>
                                            <option value="Wissenschaftliche Arbeit">Wissenschaftliche Arbeit</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="category">Fakultät:</label>
                                        <select id="add_faculty" name="add_faculty">
                                            <option value="Informatik">Informatik</option>
                                            <option value="Naturwissenschaften">Naturwissenschaften</option>
                                            <option value="Mathematik">Mathematik</option>
                                            <option value="Maschinenbau">Maschinenbau</option>
                                            <option value="Elektrotechnik und Informationstechnik">Elektrotechnik und Informationstechnik</option>
                                            <option value="Wirtschaftswissenschaften">Wirtschaftswissenschaften</option>
                                            <option value="Philosophische Fakultät">Philosophische Fakultät</option>
                                            <option value="Human- und Sozialwissenschaften">Human- und Sozialwissenschaften</option>
                                            <option value="Extern">Extern</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group" style="display: inline-block; align-self: flex-end; width:100%">
                                    <button class="button-green" style="width:100%" type="submit">Ressource hinzufügen </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/flash_messages.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ressource_inspect.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ressource_add.js') }}"></script>
</body>
</html>